<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoxijun.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.ruoxijun.domain.entity.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,role_name,role_key,role_sort,status,remark,
        create_by,create_time,update_by,update_time
    </sql>

    <select id="selectRoleKeysByUserId" resultType="java.lang.String">
        select distinct r.role_key
        from sys_user_role ur
                 left join sys_role r on r.id = ur.role_id
        where ur.user_id = #{id}
          and r.status = 0
          and r.del_flag = 0
    </select>
</mapper>
